@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #faf8ef;
    margin: 0;
    padding: 20px;
}

.container {
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin: 0 auto;
    padding: 20px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

legend {
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    margin-bottom: 10px;
}

label {
    display: flex;
    align-items: center;
    margin: 5px 15px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#recipes {
    margin-top: 20px;
}

#recipes h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    margin-bottom: 10px;
    color: cadetblue;
}

#recipes a {
    color: #4caf50;
    text-decoration: none;
}

#recipes a:hover {
    text-decoration: underline;
}
